<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <title>raylib web game</title>
    
    <meta name="title" content="raylib web game">
    <meta name="description" content="New raylib web videogame, developed using raylib videogames library">
    <meta name="keywords" content="raylib, games, html5, programming, C, C++, library, learn, videogames">
    <meta name="viewport" content="width=device-width">
    
    <!-- Open Graph metatags for sharing -->
    <meta property="og:title" content="Star Brawler 2">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image" content="https://www.raylib.com/common/img/raylib_logo.png">
    <meta property="og:site_name" content="raylib.com">
    <meta property="og:url" content="https://www.raylib.com/games.html">
    <meta property="og:description" content="New raylib web videogame, developed using raylib videogames library">

    <!-- Twitter metatags for sharing -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="Star Brawler 2">
    <meta name="twitter:image" content="https://www.raylib.com/common/raylib_logo.png">
    <meta name="twitter:url" content="https://www.raylib.com/games.html">
    <meta name="twitter:description" content="New raylib web game, developed using raylib videogames library">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://www.raylib.com/favicon.ico">
    
    <style>
        * {
            margin: 0;
            padding: 0;
            border: 0px none;
        }
        body {
            background-color: black;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
        }
        canvas.emscripten {
            display: block;
            object-fit: contain;
            width: 100vw;
            height: 100vh;
            image-rendering: pixelated;
        }
    </style>
    </head>
    <body>
        <canvas class=emscripten id=canvas oncontextmenu=event.preventDefault() tabindex=-1></canvas>
        <p id="output" />
        <script>
            var Module = {
                print: (function() {
                    var element = document.getElementById('output');
                    if (element) element.value = ''; // clear browser cache
                    return function(text) {
                        if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
                        console.log(text);
                        if (element) {
                          element.value += text + "\n";
                          element.scrollTop = element.scrollHeight; // focus on bottom
                        }
                    };
                })(),            
                canvas: (function() {
                    var canvas = document.getElementById('canvas');
                    return canvas;
                })()
            };
        </script>
        {{{ SCRIPT }}}
    </body>
</html>